:root{
    --color-brand-dark: #465929;
    --color-brand-normal: #819B57;
    --color-primary-dark: #31261A;;
    --color-primary-light: #faf4ea;
    --color-brand-light: #cfcfcb;
    --color-secondary-dark: #A18268;
}

body{
    color: var(--color-primary-dark);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}
h1, h2, h3, h4, p{
    margin-top: 0;
}
ul {
    list-style-type: none;
}
a{
    display: inline-block;
}
*
*::before,
*::after{
    box-sizing: border-box;
}
.contanier{
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;

}
address{
    font-style: normal;
}
.visually-hidden{
    position: absolute;
    left: -1000px;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.section{
    padding: 48px 0;
}
.button{
    width: 238px;
    height: 59px;
    color: var(--color-primary-light);
    background-color: var(--color-brand-normal);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}
.button:hover{
    background-color: var(--color-brand-dark);
}
.hero-section{
    padding: 272px 0;
    background-image: url(../img/a\ woman\ and\ a\ man\ in\ a\ coffee\ shop.png) ;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-title{
    margin-bottom: 0;
    color: #faf4ea;
    font-weight: 900;
    text-align: center;
    font-size: 128px;
}
.header-contanier{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-nav{
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 40px;
}
.header-menu{
    display: flex;
    gap: 64px;
    flex-grow: 1;
    justify-content: center;
}
.accent{
    color: var(--color-brand-normal)
}
.advantages-section{
    padding: 16px 0;
    background-color: var(--color-brand-normal);
}
.advantages-list{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.advantages-item{
    color: var(--color-primary-light);
    font-size: 20px;
    font-weight: 300;
}
.section-title{
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}
.centered{
    text-align: center;
}
.link{
    color: var(--color-primary-light);
    text-decoration: none;
}
.link:hover {
    color: var(--color-brand-normal);
    font-weight: 600;
}
/* .cection-title{
    color: var(--color-primary-dark);
} */
.tradition-contanier{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.traditions-content{
    max-width: 710px;
    
}
.traditions-section{
    padding-top: 96px;
    gap: 100px;
}
.traditions-title{
    margin-bottom: 42px;
}
.traditions-text{
    margin-bottom: 30px;
}
.traditions-text .brand{
    color: var(--color-brand-normal);
    font-weight: 600;
}
.traditions-text .appercase {
    text-transform: uppercase;
}
.limited {
    width: 335px;
}
.chefs-title {
    width: 540px;
    margin: 0 auto 80px;
}
.chef-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 600;  

}
.chefs-title::after,
.chefs-title::before{
    content: '';
    width: 352px;
    border: 2px solid var(--color-brand-light);
    display: block;

}
.chef-foto {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-primary-light), -16px 16px 0 2px var(--color-secondary-dark);
}

.chefs-list{
    display: flex;
    gap: 30px;
    row-gap: 40px;
    flex-wrap: wrap;
}
.chefs-item{
    flex-basis: calc((100% - 30px) / 2);
}
.chef-card{
    display: flex;
    gap: 30px;

}
.chef-text{
    margin-bottom: 24px;
}
.chef-text:last-child{
    margin-bottom: 0;
}
.formats-title{
    margin-bottom: 80px;
}
.format-title{
    font-size: 24px;
    font-weight: 600;
}
.format-text{
    font-size: 14px;
    font-weight: 300;
}
.carousel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    fill: var(--color-primary-dark);
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}
.carousel-button:hover{
    background-color: var(--color-primary-dark);
    fill: var(--color-primary-light);
}
.format-card{
    height: 444px;
    padding: 24px;
    background-image: linear-gradient(180deg, rgba(49, 38, 26, 0) 55.21%, rgba(49, 38, 26, 0.71) 72.92%, var(--color-primary-dark) 100%);
    border: 1px solid lightgray;
    border-radius: 16px;
}
.formats-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.format-item{
    flex-basis: calc((100% - 40px)/3);
}
.format-contanier{
    display: flex;
    gap: 32px;
    align-items: center;
}
.address-link{
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}
.address-link:hover{
    color: var(--color-brand-normal);
}
.address-copyright{
    font-size: 14px;
}
.address-icon{
    fill: var(--color-primary-light);
}
.contact-section{
    padding-bottom: 96px;
}
.contact-title{
    margin-bottom: 16px;
}
.contact-contanier{
    display: flex;
    gap: 32px;
}
.contact-map{
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}
.footer{
    background-image: url(../img/footer.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 32px 0;
}
.footer-container{
    display: flex;
    gap: 20px;
}
.footer-nav,
.footer-address {
    width: 50%;
    display: flex;
    gap: 20px;
}
.f
.footer-logo,
.footer-menu{
    flex-grow: 1;
}
.address-list,
.accent-info{
    flex-grow: 1;
}